<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:rel="stylesheet" th:href="@{../css/bootstrap.css}"/>
    <link th:rel="stylesheet" th:href="@{../css/fontawesome-all.css}"/>
    <link th:rel="stylesheet" th:href="@{../css/styles.css}"/>
    <script th:src="@{../javascript/bootstrap.jss}"></script>
    <script th:src="@{../javascript/fontawesome-all.js}"></script>
</head>
<body>
<h1>Home page</h1>
</body>
</html>