<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Please Login</title>
</head>
<body>
<!--/*@thymesVar id="user" type="com.miloraddjordjevic.ecommerce.entities.User"*/-->
<form th:action="@{/login}" th:object="${user}" method="POST">
    <label>
        <input type="text" th:field="*{username}" th:name="username"/>
    </label>
    <label>
        <input type="text" th:field="*{password}" th:name="password"/>
    </label>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>